# Executables
*.exe

# android packages
*.apk

# Application Extensions
*.dll

# Phone Images
*.img

# Phone Binaries
busybox
mkyaffs2image
su
bootanimation_NO_SOUND
bootanimation_ORIGIONAL
bootanimation_SOUND
bootanimation

# Script that isn't mine
onandroid

# Instructional text files
*here.txt

# Zip files
*.zip